@import url('yui_reset.css');
@import url('yui_base.css');
@import url('yui_fonts.css');

// ------ Mixins ------ //

.position{ position: relative; overflow: hidden; }
.helvetica{ font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
.redondas{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

// ------ Variables ------ //

@azul: #1aa2dc;
@azul_obscuro: #2a77a2;

@rojo: #e95446;
@rojo_obscuro: #c03531;

// ------ General ------ //

// ------ Home ------ //

html, body {background: #fff;  -webkit-font-smoothing: antialiased; .helvetica; }

