@import url('yui_reset.css');
@import url('yui_base.css');
@import url('yui_fonts.css');

// ------ Fonts ------ //

@font-face {
    font-family: 'hp_regular';
    src: url('fonts/hpsimplified_rg-webfont.eot');
    src: url('fonts/hpsimplified_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hpsimplified_rg-webfont.woff') format('woff'),
         url('fonts/hpsimplified_rg-webfont.ttf') format('truetype'),
         url('fonts/hpsimplified_rg-webfont.svg#hp_simplifieditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hp_bold';
    src: url('fonts/hpsimplified_bd-webfont.eot');
    src: url('fonts/hpsimplified_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hpsimplified_bd-webfont.woff') format('woff'),
         url('fonts/hpsimplified_bd-webfont.ttf') format('truetype'),
         url('fonts/hpsimplified_bd-webfont.svg#hp_simplifiedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hp_bold_italic';
    src: url('fonts/hpsimplified_bdit-webfont.eot');
    src: url('fonts/hpsimplified_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hpsimplified_bdit-webfont.woff') format('woff'),
         url('fonts/hpsimplified_bdit-webfont.ttf') format('truetype'),
         url('fonts/hpsimplified_bdit-webfont.svg#hp_simplifiedbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hp_italic';
    src: url('fonts/hpsimplified_it-webfont.eot');
    src: url('fonts/hpsimplified_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hpsimplified_it-webfont.woff') format('woff'),
         url('fonts/hpsimplified_it-webfont.ttf') format('truetype'),
         url('fonts/hpsimplified_it-webfont.svg#hp_simplifieditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hp_italic';
    src: url('fonts/hpsimplified_it-webfont.eot');
    src: url('fonts/hpsimplified_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hpsimplified_it-webfont.woff') format('woff'),
         url('fonts/hpsimplified_it-webfont.ttf') format('truetype'),
         url('fonts/hpsimplified_it-webfont.svg#hp_simplifieditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hp_lt';
    src: url('fonts/hpsimplified_lt-webfont.eot');
    src: url('fonts/hpsimplified_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hpsimplified_lt-webfont.woff') format('woff'),
         url('fonts/hpsimplified_lt-webfont.ttf') format('truetype'),
         url('fonts/hpsimplified_lt-webfont.svg#hp_simplifieditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hp_lt_it';
    src: url('fonts/hpsimplified_ltit-webfont.eot');
    src: url('fonts/hpsimplified_ltit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hpsimplified_ltit-webfont.woff') format('woff'),
         url('fonts/hpsimplified_ltit-webfont.ttf') format('truetype'),
         url('fonts/hpsimplified_ltit-webfont.svg#hp_simplifieditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

// ------ Variables ------ //

@azul: #1aa2dc;
@azul_obscuro: #2a77a2;

@rojo: #e95446;
@rojo_obscuro: #c03531;

@gris_fuente: #949699;
@gris_fondo: #f5f6f7;

// ------ Mixins ------ //

.position{ position: relative; overflow: hidden; }
.helvetica{ font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
.redondas{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.clearfix {
	zoom: 1;
	&:before { content: ''; display: block; }
	&:after { content: ''; display: table; clear: both; }
}

.left{ float: left; }
.right{ float: right; }

.last{ margin-right: 0px !important; }

.sprite (@horizontal: 0px, @vertical: 0px){
	background: url('images/sprite.png') no-repeat;
	background-position: @horizontal @vertical;
}

.regular (@size){ font-family: 'hp_regular'; font-size: @size; }
.italic (@size){ font-family: 'hp_italic'; font-size: @size; }
.bold (@size){ font-family: 'hp_bold'; font-size: @size; }
.lt (@size){ font-family: 'hp_lt'; font-size: @size; }
.lt_it (@size){ font-family: 'hp_lt_it'; font-size: @size; }

// ------ General ------ //

*{	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {background: #fff;  -webkit-font-smoothing: antialiased; .helvetica; }

.container{ width: 90%; max-width: 1824px; min-width: 320px; margin: 20px auto 0 auto; }

header{ margin: 0 0 30px 0; border-bottom: 1px solid @gris_fuente;
	.logo{ width: 95px; height: 95px; margin: 0 20px 0 0; display: block; float: left;
		a{
			img{}
		}
	}
	h1{ height: 95px; margin: 0 0 0 0; line-height: 95px; .bold(40px);
		a{ color: #000; text-decoration: none;}
	}

	.instruccion{ margin: 20px 0 10px 0; .regular(20px); color: @gris_fuente; font-size: 20px; }
}

.main{
	h2 { margin-top: 30px; }	
}

.content{ width: 86%; background: @gris_fondo; }

.descripcion{ padding: 20px; border-bottom: 1px solid @gris_fuente;
	img{ width: 15%; margin: 0 5% 0 0; display: block; }
	.info_aplicacion{ width: 80%;
		h2{ .bold(20px); margin: 0; }
		p{ .regular(16px);}
	}
}

#menu_segmentos{ width: 20%;
	ul{ margin: 0; list-style: none;
		li{ height: 25%; border-bottom: 1px solid #fff;
			a{ width: 100%; height: 100%; .bold(20px); line-height: normal; text-align: center; font-size: 18px; display: block; background: @azul; text-decoration: none; color: #fff;
				&:hover{ background: @azul_obscuro; }
			}
			a.activo { background-color: @azul_obscuro; cursor: default; }
		}
	}
}

.main_content{ width: 80%;
	.seccion_segmento { width: 96%; margin: 2% auto 0 auto; position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;
		iframe{ width: 90%; height: 90%;  position: absolute; top: 0; left: 0; }
	}
}

.aplicacion_boton_in{ width: 31%; margin: 2% 1%;
	a{ display: block; width: 100%; height: 100%; background: @azul;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;

	text-decoration: none;

		p{ margin: 0;  padding: 10%; color: #fff; .bold(16px);  }
	}


}


.menu{ width: 12%;
	ul{ margin: 0; list-style: none;
		li{ border-bottom: 1px solid #fff;
			a{ width: 100%; padding: 15px 0; color: #fff; display: block; text-decoration: none; text-align: center; background: @rojo;
				// .icono_menu{ width: 34%; height: 30px;
				// 	&.home{ .sprite(10px, -10px); }
				// 	&.casos_de_estudo{ .sprite(10px, -10px); }
				// 	&.habilitadores{ .sprite(10px, -10px); }
				// 	&.prensas_digitales{ .sprite(10px, -10px); }
				// 	&.adicional{ .sprite(10px, -10px); }
				// }
				img{ width: 30%; height: auto; margin: 0 auto 10px auto; }
				p{ margin: 0; .regular(16px); }

				&:hover{ background: @rojo_obscuro; }
			}
		}
	}
}

// ------ Home ------ //

.aplicacion_boton{ width: 15%; margin: 3% 5%;
	a{ color: #000; text-decoration: none;
		img{ width: 100%; height: auto; margin: 0 0 10% 0; padding: 10%; background: #00a0dd; display: block;
			-webkit-border-top-right-radius: 15px;
			-webkit-border-bottom-left-radius: 15px;
			-moz-border-radius-topright: 15px;
			-moz-border-radius-bottomleft: 15px;
			border-top-right-radius: 15px;
			border-bottom-left-radius: 15px;
		}
		h4{ .regular(100%); }

		&:hover{
			img{ background: @azul_obscuro; }
		}
	}

}


// ------ Media queries ------ //




